%h2 Log in

- form_for @user_session, :url => login_path do |f|
  = f.label :email, 'Email address'
  = f.text_field :email
  %br

  = f.label :password, 'Password'
  = f.password_field :password
  %br

  %label
  = f.submit "Continue"
