%h3 Change password

- form_for @user do |f|
  = f.label :password, 'Password:'
  = f.password_field :password
  %br

  = f.label :password_confirmation, 'Confirm password:'
  = f.password_field :password_confirmation
  %br

  = f.submit 'Update password'
