%h3 Edit User
= link_to 'Change password', change_password_user_path
%hr

- form_for @user do |f|
  = f.label :first_name, 'First name:'
  = f.text_field :first_name
  %br

  = f.label :last_name, 'Last name:'
  = f.text_field :last_name
  %br

  = f.label :email, 'Email:'
  = f.text_field :email
  %br

  = f.submit 'Save changes'
